@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


html
{
    scroll-behavior: smooth;
}

#header
{
    font-family: 'Nunito', sans-serif;
    --main-font: 'Nunito', sans-serif;
}

.nav-item a
{
    margin: 1.5rem;
    font-family: var(--main-font);
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

#active
{
    color: #000;
}

#header ion-icon[name="menu-outline"]
{
    font-size: 2.5em;
}

#header .btn
{
    font-size: clamp(1em, 1.2em, 1.5em);
}

#main
{
    padding: 2rem;
    margin: auto;
}

#main .container
{
    padding: 5rem;
}

#main .container .row
{
    margin-top: 1rem;
}

#main .container h3
{
    word-break: break-all;
    font-family: var(--main-font);
}

#main .col
{
    margin: 1rem;
}

.icon
{
    max-width: 250px;
}

#page-logo
{
    filter: drop-shadow(30px, 10px, 15px, #000);
}

#main .row i
{
    margin: .5rem;
    font-size: 2.5em;
}

#main .code-example
{
    margin: .5rem;
    max-width: 650px;
    border-radius: 16px;
    transform: rotate(-5deg);
    filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, .5));
}